In [30]:
import pandas as pd
import numpy as np
import datetime as dt

In [62]:
df = pd.read_csv("sales_data_sample.csv",encoding="ISO-8859-1")

In [63]:
df.dtypes

ORDERNUMBER           int64
QUANTITYORDERED       int64
PRICEEACH           float64
ORDERLINENUMBER       int64
SALES               float64
ORDERDATE            object
STATUS               object
QTR_ID                int64
MONTH_ID              int64
YEAR_ID               int64
PRODUCTLINE          object
MSRP                  int64
PRODUCTCODE          object
CUSTOMERNAME         object
PHONE                object
ADDRESSLINE1         object
ADDRESSLINE2         object
CITY                 object
STATE                object
POSTALCODE           object
COUNTRY              object
TERRITORY            object
CONTACTLASTNAME      object
CONTACTFIRSTNAME     object
DEALSIZE             object
dtype: object

In [66]:
df["ORDERDATE"] = pd.to_datetime(df["ORDERDATE"])

In [67]:
df["ORDERDATE"].dt.to_period('M')

0       2003-02
1       2003-05
2       2003-07
3       2003-08
4       2003-10
         ...
2818    2004-12
2819    2005-01
2820    2005-03
2821    2005-03
2822    2005-05
Name: ORDERDATE, Length: 2823, dtype: period[M]

In [68]:
df=df.sort_values("ORDERDATE")

In [69]:
df["PREV_ORDERDATE"]=df.groupby("QTR_ID")["ORDERDATE"].shift()

In [71]:
(df["ORDERDATE"]-df["PREV_ORDERDATE"])/np.timedelta64(1,'M')

578          NaN
680     0.000000
1267    0.000000
2024    0.000000
1539    0.098565
          ...
2405    0.000000
393     0.000000
160     0.000000
2302    0.000000
727     0.000000
Length: 2823, dtype: float64

In [54]:
df["ORDERDATE"]+pd.to_timedelta(4,unit="D")

578    2003-01-10
680    2003-01-10
1267   2003-01-10
2024   2003-01-10
1539   2003-01-13
          ...
2405   2005-06-04
393    2005-06-04
160    2005-06-04
2302   2005-06-04
727    2005-06-04
Name: ORDERDATE, Length: 2823, dtype: datetime64[ns]

In [74]:
pd.date_range(start="13/4/2022",end="5/5/2022")

DatetimeIndex(['2022-04-13', '2022-04-14', '2022-04-15', '2022-04-16',
               '2022-04-17', '2022-04-18', '2022-04-19', '2022-04-20',
               '2022-04-21', '2022-04-22', '2022-04-23', '2022-04-24',
               '2022-04-25', '2022-04-26', '2022-04-27', '2022-04-28',
               '2022-04-29', '2022-04-30', '2022-05-01', '2022-05-02',
               '2022-05-03', '2022-05-04', '2022-05-05'],
              dtype='datetime64[ns]', freq='D')