In [30]:
import pandas as pd
import numpy as np
import datetime as dt

In [31]:
df = pd.read_csv("sales_data_sample.csv",encoding="ISO-8859-1")

In [32]:
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [33]:
df["ORDERDATE"].dtype

dtype('O')

In [34]:
df["ORDERDATE"] = pd.to_datetime(df["ORDERDATE"])

In [35]:
df["ORDERDATE"].dt.to_period('Y')

0       2003
1       2003
2       2003
3       2003
4       2003
        ...
2818    2004
2819    2005
2820    2005
2821    2005
2822    2005
Name: ORDERDATE, Length: 2823, dtype: period[A-DEC]

In [42]:
df=df.sort_values("ORDERDATE")

In [44]:
df.columns

Index(['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID',
       'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE',
       'ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE',
       'COUNTRY', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME',
       'DEALSIZE'],
      dtype='object')

In [46]:
df["PREV_ORDERDATE"]=df.groupby("QTR_ID")["ORDERDATE"].shift()

In [48]:
df["ORDERDATE"]-df["PREV_ORDERDATE"]

578       NaT
680    0 days
1267   0 days
2024   0 days
1539   3 days
        ...
2405   0 days
393    0 days
160    0 days
2302   0 days
727    0 days
Length: 2823, dtype: timedelta64[ns]

In [54]:
df["ORDERDATE"]+pd.to_timedelta(4,unit="D")

578    2003-01-10
680    2003-01-10
1267   2003-01-10
2024   2003-01-10
1539   2003-01-13
          ...
2405   2005-06-04
393    2005-06-04
160    2005-06-04
2302   2005-06-04
727    2005-06-04
Name: ORDERDATE, Length: 2823, dtype: datetime64[ns]